section.about 
    .container 
        +blockHeader("We work with","amazing services","Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat aut expedita cum modi sunt est sint porro! Debitis vitae facere odit, doloribus eaque provident! Earum tenetur at enim error voluptas!")
        .about-list 
            +aboutItem("../../images/img-about1.png","super team","fa fa-user")
            +aboutItem("../../images/img-about2.png","super team","fa fa-user")
            +aboutItem("../../images/img-about3.png","super team","fa fa-user")
            