section.blockTeam 
    .container 
        +blockHeader("Who we are","meet our team","Lorem, ipsum dolor sit amet consectetur adipisicing elit Quos accusamus laborum, harum nulla pariatur ea ullam, maiores consequuntur rerum aperiam incidunt ducimus. Officiis neque quaerat dolores quos doloremque dolore at.")
        .blockTeam-list 
            .blockTeam-item
                .blockTeam-main 
                    img(src="../../images/img-team1.png").blocsTeam-image
                    .blockTeam-content
                        ul.blockTeam-social 
                            li.blockTeam-social-item
                                a.blockTeam-social-link(href="")
                                    i.fab.fa-facebook-f
                            li.blockTeam-social-item
                                a.blockTeam-social-link(href="")
                                    i.fab.fa-instagram
                            li.blockTeam-social-item
                                a.blockTeam-social-link(href="")
                                    i.fab.fa-twitter
                            li.blockTeam-social-item
                                a.blockTeam-social-link(href="")
                                    i.fab.fa-pinterest   
                .blockTeam-info 
                    h3.blockTeam-name Christopher Cambell 
                    span.blockTeam-position Lorem, ipsum dolor.
            .blockTeam-item
                    .blockTeam-main 
                        img(src="../../images/img-team2.png").blocsTeam-image
                        .blockTeam-content
                            ul.blockTeam-social 
                                li.blockTeam-social-item
                                    a.blockTeam-social-link(href="")
                                        i.fab.fa-facebook-f
                                li.blockTeam-social-item
                                    a.blockTeam-social-link(href="")
                                        i.fab.fa-instagram
                                li.blockTeam-social-item
                                    a.blockTeam-social-link(href="")
                                        i.fab.fa-twitter
                                li.blockTeam-social-item
                                    a.blockTeam-social-link(href="")
                                        i.fab.fa-pinterest   
                    .blockTeam-info 
                        h3.blockTeam-name Christopher Cambell 
                        span.blockTeam-position Lorem, ipsum dolor.
            .blockTeam-item
                    .blockTeam-main 
                        img(src="../../images/img-team3.png").blocsTeam-image
                        .blockTeam-content
                            ul.blockTeam-social 
                                li.blockTeam-social-item
                                    a.blockTeam-social-link(href="")
                                        i.fab.fa-facebook-f
                                li.blockTeam-social-item
                                    a.blockTeam-social-link(href="")
                                        i.fab.fa-instagram
                                li.blockTeam-social-item
                                    a.blockTeam-social-link(href="")
                                        i.fab.fa-twitter
                                li.blockTeam-social-item
                                    a.blockTeam-social-link(href="")
                                        i.fab.fa-pinterest   
                    .blockTeam-info 
                        h3.blockTeam-name Christopher Cambell 
                        span.blockTeam-position Lorem, ipsum dolor.