footer.footer 
    .container 
        .footer-top 
            .footer-column 
                a(href="index.html").footer-heading.footer-heading--logo Mogo 
                p.footer-desc.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem necessitatibus corporis in sunt. Similique maxime alias nam itaque earum impedit recusandae. Aspernatur natus, aliquam quasi sed quibusdam animi ipsum amet.
                p.footer-follower <strong>15k</strong> followers 
                .footer-social 
                    spam.text Follow Us: 
                    .footer-social-list 
                        a.footer-social-icon(href="#") 
                            i.fab.fa-facebook
                        a.footer-social-icon(href="#") 
                            i.fab.fa-instagram
                        a.footer-social-icon(href="#") 
                            i.fab.fa-twitter
                        a.footer-social-icon(href="#") 
                            i.fab.fa-pinterest
                        a.footer-social-icon(href="#") 
                            i.fab.fa-youtube
                form.footer-form
                    input(type="email" placeholder="Your Email").footer-form-input
                    button(action="#").footer-form-button Subscribe
            .footer-column 
                h3.footer-heading Blog
                a(href='#').footer-blog 
                    img.footer-blog-image(src="./images/img-blogs1.png")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur?
                        span.footer-blog-date.text.text--light Jan 9,2016
                a(href='#').footer-blog 
                    img.footer-blog-image(src="./images/img-blogs2.png")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur?
                        span.footer-blog-date.text.text--light Jan 9,2016
                a(href='#').footer-blog 
                    img.footer-blog-image(src="./images/img-blogs3.png")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur?
                        span.footer-blog-date.text.text--light Jan 9,2016
            .footer-column
                h3.footer-heading Instagram 
                .footer-images 
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1556642389-0cd5fd882f5a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cGhvdG9ncmFwaGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1499343245400-cddc78a01317?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHBob3RvZ3JhcGhlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1438109491414-7198515b166b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHBob3RvZ3JhcGhlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1492691527719-9d1e07e534b4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHBob3RvZ3JhcGhlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1457486276849-3f731d701f32?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHBob3RvZ3JhcGhlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1602525659170-997b350dd1c7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fHBob3RvZ3JhcGhlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1603574670812-d24560880210?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzF8fHBob3RvZ3JhcGhlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1602525653218-cac7c9e38807?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDJ8fHBob3RvZ3JhcGhlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
                    .footer-image 
                        img(src="./images/img-instagram1.png")
                a(href='#').footer-images-more.text.text--light View more photos
        .footer-bottom &copy; 2016 Mogo free PSD template by <span> Laaqiq </span>