section.number 
    .container 
        .number-list 
            +number("24"," Web Design Projects ")
            +number("123","Happy client")
            +number("15","award winner")
            +number("99","cup of coffee")
            +number("24","numbers")