section.services 
    .container
        +blockHeader("we work with","amazing services")
        .services-list 
            +servicesItem("fa fa-alarm-clock","Photography","Lorem ipsum dolor, sit amet consectetur adipisicing elit. ")
            +servicesItem("fa fa-monitor-heart-rate","Web design","Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
            +servicesItem("fa fa-tv","Creativity","Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
            +servicesItem("fa fa-book-heart","Seo","Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
            +servicesItem("fa fa-home-heart","Css/html","Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
            +servicesItem("fa fa-address-card","digital","Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
            