section.wedo 
    .container 
        +blockHeader("Service","what we do","â ipsum dolor sit amet consectetur adipisicing elit. Ad tempora id voluptatum, mollitia corrupti aut veniam facere animi voluptas accusantium voluptates asperiores, esse quo pariatur placeat quos. Facere, sit corrupti.")
        .wedo-container
            img.wedo-image(src="../../images/img-wedo.png")
            .wedo-content 
                +wedoItem("../../images/img-wedo-icon1.png","Photography","fa fa-angle-up","Lorem ipsum dolor, sit amet consectetur adipisicing elit. sit amet consectetur adipisicing elit. sit amet consectetur adipisicing elit. sit amet consectetur adipisicing elit. sit amet consectetur adipisicing elit. sit amet consectetur adipisicing elit. adipisicing elit. sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit. sit amet consectetur adipisicing elit. sit amet consectetur adipisicing elit. sit amet consectetur adipisicing elit. sit amet consectetur adipisicing elit. sit amet consectetur adipisicing elit. adipisicing elit. sit amet consectetur adipisicing elit.",'is-active')
                +wedoItem("../../images/img-wedo-icon2.png","Creativity","fa fa-angle-down")
                +wedoItem("../../images/img-wedo-icon3.png","Web Design","fa fa-angle-down")
                   
                   
                    

