section.work 
    .container 
        +blockHeader("What we do","Some of our work","Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia alias neque aut magni vero, explicabo repudiandae culpa blanditiis consequatur exercitationem. Vel eius consequatur quia laboriosam. Velit totam distinctio accusantium pariatur.")
    .work-list 
        .work-column 
            +workItem('./images/img-work6.png')
            +workItem('./images/img-work5.png')
        .work-column 
            +workItem('./images/img-work4.png')
            +workItem('./images/img-work7.png')
        .work-column 
            +workItem('./images/img-work3.png','work-item-full')
        .work-column 
            +workItem('./images/img-work2.png')
            +workItem()