.number{
    @include bgc($third-color);
    &-item{
        padding:8.5rem 3.5rem;
        text-align:center;
        text-transform:uppercase;
        color:$white-color;
        width: 20%;
        border-left:1px solid rgba($white-color,0.5); 

    }
    &-item:last-child{
        border-right:1px solid rgba($white-color,0.5); 

    }
    &-item-count{
        font-size: 7.2rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }
   &-list{
    @include flexBox(row,wrap)
   }
   &-item-text{
       line-height: 1.4;
   }
   @include maxWidth(1023px){
       &-item{
           padding: 5rem 1.5rem;
       }
       &-item-count{
           font-size: 5rem;
           margin-bottom: 1rem;
       }
       &-item-text{
           font-size: 1.4rem;
       }
   }
   @include maxWidth(767px){
       &-list{
           display: block;
          
       }
       &-item
       {
        width: 100%;
        border-left:0;
        border-bottom:
            1px solid rgba($white-color,0.5); 
            padding:2.5rem 1.5rem;
       }
       &-item:last-child{
        border-right:none;
        border-bottom:none

    }
   }
}